.mainFromdiv{
    margin: auto;
    width: 50%;
    font-size: 1.5em;
    input{
        font-size: 0.7em;
    }
   
}

.addDivDynamikly{
    cursor: pointer;
}

.submitBtn{
    Button{
        float: right;
        
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
          
    }

}

